.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url("../imagens/fundo.jpg");

}

.menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    height: 90px;
    width: 100%;
    background-color: antiquewhite;
    border-bottom: 5px solid rgb(163, 0, 0);
}

.panel {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;

}
.menu-time h2:nth-child(2),
.menu-score h2:nth-child(2) {
    margin-top: 10px;
}

.menu-lives {
    display: flex;
    align-items: center;
    justify-content: center;
}

.square {
    height: 156px;
    width: 156px;
    border: 1px solid green;
    background-color: aquamarine;
}

.enemy {
    background-image: url("../imagens/favicon\ detona\ ralph.png");
    background-size: cover;
}